/*  CSS RESET

   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/* Site Specific CSS */

body {
  font-size: 100%;
  margin: 70px 20% 0 20%;
}

p {
  line-height: 1.4em;
}

section {
  margin: 2em 0;
}

hgroup {
  text-align: center;
  margin-bottom: 2em;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 2.3em;
  margin-bottom: 0.5em;
  text-indent: 1em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

#text div {
  margin-bottom: 1.7em;
}

.recordings, .transcriptions {
  margin: 1em 0;
}

dt {
  float: left;
  clear: left;
  margin-right: 10px;
}

dt:after {
  content: ":"
}

.variant {
  margin-bottom: 3em;
}

ol {
  list-style-type: decimal;
}





